CONNECTION_STRING=Server=db;Database=LojaManoel;User Id=sa;Password=Daniel123!;TrustServerCertificate=True;Encrypt=False
DB_SA_PASSWORD=Daniel123!
AMBIENTE=dev
JWT_SECRET=SecretaChaveSuperForteComMaisDe32Caracteres!123
API_USER=admin
API_PASSWORD=1234
